* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background: #000000;
    color: #fff;
    background-color: #070707;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23613a0e' fill-opacity='0.73'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Oswald', sans-serif;

  }

  .container {
    width: 90%;
    margin: auto;
  }


  h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.guason {
    width: 100%;
    height: 550px;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Flatam.ign.com%2Fthe-joker%2F12751%2Ffeature%2Funa-historia-visual-de-el-joker-en-27-imagenes&psig=AOvVaw2lE1C32Bfw1y2EuqFXTJ6r&ust=1603566686880000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDjgs61y-wCFQAAAAAdAAAAABAD") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.bane {
    width: 100%;
    height: 550px;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Faminoapps.com%2Fc%2Fcomics-es%2Fpage%2Fitem%2Fbane%2Fw74C_pIJ7dnoaZDRzJN66wxBWlDlegq&psig=AOvVaw0iK9dZKCYWWbRXCdKp_3Xo&ust=1603566785337000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLjerPm1y-wCFQAAAAAdAAAAABAD") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.harley {
    width: 100%;
    height: 550px;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.ign.com%2Fharley-quinn-1%2F152892%2Fnews%2Fla-serie-animada-de-harley-quinn-estrena-su-primer-trailer&psig=AOvVaw1OVtYxf_UPV4k0eOa_-EAb&ust=1603566883239000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJCpw6e2y-wCFQAAAAAdAAAAABAD") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}
.pingüino {
    width: 100%;
    height: 550px;
    background: url("https://pm1.narvii.com/6357/16f146c7ca7d10ef0e59b6100a1ce59820f9c0c8_00.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}